.sico{float:left;margin-right:2px;width:16px;height:16px;background-image:url(stats.png);}
#stats{line-height:18px;padding:20px;}
.stp{background-position:-16px!important;}
.stm{background-position:-32px;}
.st1{background-position:-48px;}
.st2{background-position:-64px;}
.st3{background-position:-80px;}
.st4{background-position:-96px;}
.st5{background-position:208px;}
.st6{background-position:192px;}
.st7{background-position:176px;}
.st8{background-position:160px;}
.st9{background-position:144px;}
.st10{background-position:128px;}
.st11{background-position:112px;}
.st12{background-position:96px;}
.st13{background-position:80px;}
.st14{background-position:64px;}
.st15{background-position:48px;}
.st16{background-position:32px;}
.st17{background-position:16px;}
.bold{font-weight:700;}
.subitem{margin-left:18px;overflow:hidden;}